@model List<Destination>
@{
    ViewData["Title"] = "Pacchetti Viaggio";
    
}
<div class="container">

    <div class="text-center">
        <h1 class="display-4">Gestione PAcchetti</h1>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Paese</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {

                        @foreach (Destination destination in Model)
                        {
                            <tr>
                                <td>@destination.Id</td>
                                <td>@destination.Name</td>


                                <td>@destination.Country</td>
                                <td><a class="btn btn-warning" href="@Url.Action("Show", "Destination",new { Id = destination.Id } )">Vedi</a></td>
                            </tr>
                        }


                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td>
                                <h2>Nessuna destinazione</h2>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


</div>
