@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Admin</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" asp-area="" asp-controller="Destination" asp-action="Create">Aggiungi Destinazione</a>
        </div>
        <div class="col">
            <a class="btn btn-primary" asp-area="" asp-controller="Voyage" asp-action="Create">Aggiungi Pacchetto</a>
        </div>
    </div>

</div>